<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Integration Tests">
      <directory>tests/integration-tests</directory>
    </testsuite>
    <testsuite name="Unit Tests">
      <directory>tests/unit-tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <includePath>.</includePath>
  </php>
</phpunit>
